 <div class="sidebar area" data-sidebar >

        <div class="sidebar-buttons">
            <ul>
                 <% if current_user.try(:admin?) %>
                      <li><%= link_to 'New Post' , new_post_path , class: 'new-post' %></li>
                      <li><%= link_to 'New Category' , new_category_path , class: 'new-post' %></li>
                  <%end%>            
            </ul>
            <ul>
                  <div class="static-links">

                    <li><div class="static-pages"><%= nav_link_to 'About', static_pages_about_path %></div></li>
                    <li><div class="static-pages"><%= nav_link_to 'Help', static_pages_help_path %></div></li>
                    <li><div class="static-pages"><%= nav_link_to 'Contact Us', static_pages_contact_us_path %></div></li>
                    <li><div class="static-pages"><%= nav_link_to 'Copyright', static_pages_copyright_path %></div> </li>
                  </div>
            </ul>
        </div>  
  
      </div>