<div class='form-title'>
  <h1>Contribute to The Archive!</h1>
</div>

  <% if @contribution.errors.any? %>
    <% @contribution.errors.full_messages.each do |message| %>

        <% if message.include? 'Contribution url is invalid' %>
          <div class="error-triangle"></div>
          <li class="error-message url-error">Your URL is invalid</li>
        <% elsif message.include? 'Contribution url has already been taken' %>
          <div class="error-triangle"></div>
          <li class="error-message url-error-duplicate">Your URL has already been submitted</li>
        <% elsif message.include? 'category' %>
          <div class="error-triangle2"></div>
          <li class="error-message tag-error">Your tag is invalid</li>
        <% elsif message.include? "Category ids can't be blank" %>
          <div class="error-triangle3"></div>
          <li class="error-message tag-error-blank">Choose a tag or recommend your own!</li>
        <% end %>

    <% end %>
  <% end %>

<div class="form">
  <%= form_for(@contribution) do |f| %>

      <div class="field">
        <%= f.text_field :contribution_url, placeholder: 'Enter the URL here!', class: 'contribution-url-field input' %>
      </div>

      <h3>Choose tags from the list below</h3>

      <div class="field checkbox-field">
        <%= f.collection_check_boxes( :category_ids, Category.all, :id, :name)  do |b| %> 
        <%= b.check_box(class: 'check_box') %>
        <%= b.label(class: "checkbox_label") %>
        <% end %>
      </div>

      <div class="field">
        <%= f.text_field :contribution_category, placeholder: 'Or, recommend your own tag!', class: 'contribution-category-field input' %>
      </div>

      <div class="actions">
        <%= f.submit value: 'Submit', class: 'contribution-submit submit' %>
      </div>

  <% end %>
</div>
