<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="add-url">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="add-desc">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
   <div class="field">
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>
  <div class="add-actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
