<div class='form-title'>
  <h1>Add to The Archive!</h1>
</div>

<div class="form">
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>


  <div class="field">
    <%= f.text_field :url, placeholder:'Youtube/Article Image/Vimeo URL' , class: 'post-url-field input' %>
  </div>

  <div class="field">
    <%= f.text_field :article_url, placeholder:'Article URL' , class: 'post-article-url-field input' %>
  </div>

  <div class="field">
    <%= f.text_field :description, placeholder:'Description' , class: 'post-description-field input' %>
  </div>

  <div class="field checkbox-field">
      <%= f.collection_check_boxes( :category_ids, Category.all, :id, :name)  do |b| %> 
      <%= b.check_box(class: 'check_box') %>
      <%= b.label(class: "checkbox_label") %>
      <% end %>
    </div>

  <div class="actions">
      <%= f.submit value: 'Submit', class: 'post-submit submit' %>
  </div>

  <% end %>
</div>


