	<%= link_to_if(current_user.nil?, image_tag('bulb-icon-1005064002.png'), new_user_session_path) do %>
	    	<%= link_to like_post_path(post), id: dom_id(post), remote: true  do %>
		    		<% if current_user.voted_up_on? post %>
					<%= image_tag("bulb-icon-1005064002-yellow.png") %><br>
				<% else %>
					<%= image_tag("bulb-icon-1005064002.png") %><br>
				<% end %>
			<div class="arrow-left"></div>
	    		<div class="vote-number">
	    			<%= post.get_upvotes.size %>
	    		</div>	  		
	    	<%end%>
	<%end%>
