<div class="main-container">
	<div class="buttons">
				<div class="vote-wrapper">
					<%= render 'like', post: post %>
				</div>

				<div class="bookmark-wrapper">
					<%= render 'bookmark', post: post %>
				</div>

	</div>

	<div class="post-container">

		<% if post.url.include?("youtube") || post.url.include?("vimeo") %>

			<div class="post-player" onclick="play(this)">
				<div class="overlay <%= overlay_color %>"> 
					<span class="post-information">
						<h5 class="post-description"><%= post_description_sanitize(post.description) %></h5>
						<p class="created-at"><%= time_ago_in_words(post.created_at) %> ago</p>
					</span>
				</div>
				<div class="link-container">
					<%= embed(post.url) %>
				</div>
			</div>
		<%else%>
			<a class="overlay <%= overlay_color  %>" href="<%= post.url %>" onclick="window.open(this.href); return false;"> 
				<span class="post-information">
					<h5 class="post-description"><%= post_description_sanitize(post.description) %></h5>
					<p class="created-at"><%= time_ago_in_words(post.created_at) %> ago</p>
				</span>
			</a>
			<div class="link-container">
				<%= embed(post.image_url) %>
			</div>  
		<% end %>
	</div>

</div>