<div class="main-container">
	<div class="buttons">
				<div class="vote-wrapper">
					<%= render 'like', post: post %>
				</div>

				<div class="bookmark-wrapper">
					<%= render 'bookmark', post: post %>
				</div>

	</div>

	<div class="post-container" onclick="play(this)">

		<% if post.url.include?("youtube") || post.url.include?("vimeo") %>
			<div class="overlay <%= overlay_color %>" > 
				<span class="post-information">
					<h5 class="post-description"><%= post.description.titleize %></h5>
					<p class="created-at"><%= time_ago_in_words(post.created_at) %> ago</p>
				</span>
			</div>
			<div class="link-container">
				<%= embed(post.url) %>
			</div>
		<%else%>
			<a class="overlay <%= overlay_color  %>" href="<%= post.url %>" onclick="window.open(this.href); return false;"> 
				<span class="post-information">
					<h5 class="post-description"><%= article_description(post.url)	 %></h5>
					<p class="created-at"><%= time_ago_in_words(post.created_at) %> ago</p>
				</span>
			</a>
			<div class="link-container">
				<%= embed(post.url) %>
			</div>  
		<% end %>
	</div>

</div>