
<div class="header" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
  <div class="wrapper">
      <div class="nav-down">
          <%= render 'logo' %>
        
	     
       <!-- Right-->

          <%= render 'extra' %>

          <%= render 'login' %>         
        
          <%= render 'submit' %>

      <!--  Left -->
          <%= render 'search' %> 

          <%= render 'shuffle' %>
          
          <%= render 'latest' %>

          <%= render 'liked_button' %>

          

          <% if current_page?('/') || current_page?('/posts') || current_page?('/profile') || current_page?('/most_liked') || current_page?('/latest') || current_page?('/shuffle') || current_page?('/search') %>
              <%= render 'tags' %>
          <% end %>

      </div>
      </div>
</div>


