<div class="header" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
      <div class="nav-down">
          <%= render 'logo' %>
        
          <%#= render 'search' %> 
	<% if current_page?('/') or current_page?('/posts') or current_page?('/profile') or current_page?('/top_videos') or current_page?('/latest') %>
          		<%= render 'tags' %>
          	<% end %>

          <%= render 'extra' %>

          <%= render 'login' %>         
        
          <%= render 'submit' %>
      
      </div>
</div>