<div class="header" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
      <div class="nav-down">
          <%= render 'logo' %>
        
          <%#= render 'search' %> 
          
          <%= render 'tags' %>

          <%= render 'extra' %>

          <%= render 'login' %>         
        
          <%= render 'submit' %>
      
      </div>
</div>