<div class="login-section" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
  <% if user_signed_in? %>
             <div class="current-user" >
                <%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.username) %>
              </div>
              <div class="user-popup">
                    <ul>
                        <div class="popup-text">
                            <li><p>Signed in as</p></li>
                            <li><p class="popup-username"><%= current_user.username %></p></li>
                        </div>
                        <li><%= nav_link_to 'Profile', profile_path %></li>
                        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                    </ul>
              </div>
    <%else%>
          <%= link_to "Sign in / Sign up" , new_user_session_path,  class: 'user-login' %>
    <% end %>
</div> 