 <div class="sidebar area side-down" data-sidebar >  
            <ul>
                  <!-- Login Section -->
              <div class="login-section-sidebar group"> 
                 <% if user_signed_in? %>
                      <div class="sidebar-gravatar login-links">
                             <%= link_to profile_path do %>
                                  <%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.username) %>
                              <% end %>
                      </div>
                      <li class="login-links username-sidebar"><p><%= current_user.username %></p></li>

                      <%= link_to destroy_user_session_path, method: :delete do %>
                            <li class="login-links login-section-sidebar"><p>LOGOUT</p></li>
                      <% end %>

                  <% else %>
                      <%= link_to new_user_session_path do%>
                            <li class="login-links"><p>SIGN IN / SIGN UP</p></li>
                      <% end %>
                  <% end %>
                </div>
                
                  <!-- Nav Button Section -->

                 <%= nav_link_to posts_mostrecent_path  do %>
                      <li class="user-links"><p>LATEST</p></li>
                 <% end %>

                 <%= nav_link_to posts_mostliked_path do %>
                      <li class="user-links"><p>MOST LIKED</p></li>
                 <% end %>

                 <% if params[:p] == "All" %>
                      <%= nav_link_to posts_shuffle_path(p: "All") do %>
                            <li class="user-links shuffle-link"><p>SHUFFLE AGAIN!</p></li>
                      <% end %>
                 <% else %>
                      <%= nav_link_to posts_shuffle_path(p: "All") do %>
                            <li class="user-links shuffle-link"><p>SHUFFLE!</p></li>
                      <% end %>
                 <% end %>

                  <!-- Contribute Section -->
                 <%= link_to submit_path do %>
                       <li class="contribute-link"><p>CONTRIBUTE</p></li>
                  <% end %>

                  <!-- Admin Section -->

                 <% if current_user.try(:admin?) %>
                      <%= link_to new_post_path  do %>
                             <li class="admin-links"><p>NEW POST</p></li>
                      <% end %>
                      <%= link_to new_category_path  do %>
                             <li class="admin-links"><p>NEW CATEGORY</p></li>
                      <% end %>
                      <%= link_to contributions_path  do %>
                             <li class="admin-links"><p>CONTRIBUTIONS</p></li>
                      <% end %>
                  <%end%>


                  <!-- Static Section -->
                  <div class="static-section">
                      <%= nav_link_to application_about_path do %>
                              <li class="static-links"><p>ABOUT</p></li>
                      <% end %>
                      <%= nav_link_to application_copyright_path do %>
                              <li class="static-links"><p>COPYRIGHT</p></li>
                      <% end %>
                  </div>
            </ul>
</div>