 <div class="sidebar area" data-sidebar >

        <div class="sidebar-buttons">
            <ul>
              <%= render 'login_sidebar' %>         
        
              <%= render 'submit' %>  
            </ul>
            <ul class="admin">
                 <% if current_user.try(:admin?) %>
                      <li><%= link_to 'New Post' , new_post_path , class: 'new-post' %></li>
                      <li><%= link_to 'New Category' , new_category_path , class: 'new-post' %></li>
                      <li><%= link_to 'Contributions' , contributions_path , class: 'new-post' %></li>
                  <%end%>            
            </ul>
            <ul>
                  <div class="static-links">
                    <li><div class="static-pages"><%= nav_link_to 'About', application_about_path %></div></li>
                    <li><div class="static-pages"><%= nav_link_to 'Copyright', application_copyright_path %></div> </li>
                  </div>
            </ul>
        </div>  
  
      </div>