<!DOCTYPE html>
<html>
<head>
  <title>The Eternal Archive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
  <meta name="description=" content="A library of inspiring, engaging and informative media, bringing together the very best of the freely available sources of education from all corners of the web (Mostly YouTube.)
                        TEA is a nearly endless supply of enlightening content. We believe there is no limit to the ability of online media to inspire, educate and make people Healthier Wealthier and Wiser.">
    
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
</head>  
  
<body>

    
  <div class="wrapper">
  <div class="dimmer area" data-sidebar-dimmer></div>

  <div class="cover-photo">
            <% if current_page?('/') or current_page?('/posts') %>
                <div class="img-cover"></div>
                <%= image_tag('cover-photo-min', class: 'cover-photo-img') %> 
            <% elsif current_page?('/profile') %>
                <div class="img-cover"></div>
                <%= image_tag('blurred-cover-photo', class: 'cover-photo-img') %> 
            <% else %>
              <%= link_to root_path do %>
                <div class="img-cover"></div>
              <% end %>
                  <%= image_tag('blurred-cover-photo' ,class: 'cover-photo-img') %> 
           <% end %>
  </div>

    <div class="header" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
      <div class="nav-down">
        <div class="logo"><%= link_to 'TEA.', root_path %></div>
        
          <div class="search-button">
                <i class="fa fa-search search-icon"></i>
                <input type="text" class="search-input" name="search" placeholder="Search"></input>
          </div> 
          
          <% if current_page?('/') or current_page?('/posts') or current_page?('/profile')%>
              <div class="tag-container center">
                  <div class="tag-wrap">
                        <h3 class="tag-title">Tags</h3>
                        <i class="fa fa-tags tags-button"></i>
                  </div>
                  <div class="category-tags center">   
                        <h3>Click on a tag to filter content!</h3>
                        <ul>  
                              <li> <%= nav_link_to 'All', root_path, class: 'category-links'  %></li>
                              <% Category.all.each do |category|%>
                                  <li><%= nav_link_to category.name, root_path(name: category.name), class: 'category-links' %></li>
                              <%end%>
                        </ul>
                  </div>
              </div>
             <% end %>
        
          <div class="extra-button" data-sidebar-button>
                <i class="fa fa-bars extra-icon"></i>
          </div>

          <div class="login-section">
            <% if user_signed_in? %>
                       <div class="current-user">
                          <%= image_tag avatar_url(current_user) %>
                        </div>
                        <div class="user-popup">
                              <ul>
                                  <div class="popup-text">
                                      <li><p>Signed in as</p></li>
                                      <li><p class="popup-username"><%= current_user.username %></p></li>
                                  </div>
                                  <li><%= nav_link_to 'Profile', profile_path %></li>
                                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                              </ul>
                        </div>
              <%else%>
                    <%= link_to "Sign in / Sign up" , new_user_session_path,  class: 'user-login' %>
              <% end %>
          </div>          
        
          <%= link_to submit_path do %>
            <div class="contribute-section">
                  <%= link_to 'Contribute', submit_path, class: 'contribute-text' %>
                  <!-- <i class="fa fa-plus contribute-button"></i> -->
            </div>
          <% end %>
        

      </div>
    </div>

    <div class="sidebar area" data-sidebar >

        <div class="sidebar-buttons">
            <ul>
                 <% if current_user.try(:admin?) %>
                      <li><%= link_to 'New Post' , new_post_path , class: 'new-post' %></li>
                      <li><%= link_to 'New Category' , new_category_path , class: 'new-post' %></li>
                  <%end%>            
            </ul>
            <ul>
                  <div class="static-links">

                    <li><div class="static-pages"><%= nav_link_to 'About', static_pages_about_path %></div></li>
                    <li><div class="static-pages"><%= nav_link_to 'Help', static_pages_help_path %></div></li>
                    <li><div class="static-pages"><%= nav_link_to 'Contact Us', static_pages_contact_us_path %></div></li>
                    <li><div class="static-pages"><%= nav_link_to 'Copyright', static_pages_copyright_path %></div> </li>
                  </div>
            </ul>
        </div>  
  
      </div>
      
	<div class="content group">
      <%= yield %>
      </div>

  </div>

</body>
</html>