<!DOCTYPE html>
<html>
<head>
  <title>The Eternal Archive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<meta name="description=" content="A library of inspiring, engaging and informative media, bringing together the very best of the freely available sources of education from all corners of the web (Mostly YouTube.)
                        TEA is a nearly endless supply of enlightening content. We believe there is no limit to the ability of online media to inspire, educate and make people Healthier Wealthier and Wiser.">
    
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,100,900,700italic,400italic,300italic,300,500' rel='stylesheet' type='text/css'>


  <!--<script src="http://use.typekit.net/koq1kyb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>-->
</head>  
  
<body>
    
  <div id="wrapper">

    <div id="header">
        
          <h3><%= link_to 'The Eternal Archive.', root_path %></h3>
                <div class="fadein">
                <img src="https://ununsplash.imgix.net/33/hBd6EPoQT2C8VQYv65ys_White%20Sands.jpg?q=75&amp;fm=jpg&amp;s=440edea0dacbf61ee20f8ff106573fb3" alt="Cover 1"/>
              </div>
          
      <center><nav>
        <ul>
          <li>
            <section style="width:240px"><a href="#">Healthy</a></section>
              <ul>            
                <div id="scrollbar1" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
                  <li><%= link_to 'Fitness', root_path(name: 'fitness')%></li>
                  <li><%= link_to 'Nutrition', root_path(name: 'nutrition')%></li>
                </div>
              </ul>
          </li>
          <li>
            <section style="width:280px"><a href="#">Wealthy</a></section>
              <ul>
            
                <div id="scrollbar2" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
                  <li><%= link_to 'Investing', root_path(name: 'investing')%></li>
                  <li><%= link_to 'Business', root_path(name: 'business')%></li>
                </div>  
              </ul>
          </li>
          <li>
            <a style="width:100px">and</a>
          </li>
          <li>
            <section style="width:220px"><a href="#">Wise</a></section>
              <ul>
                <div id="scrollbar3" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
                  <li><%= link_to 'Science', root_path(name: 'science')%></li>
                  <li><%= link_to 'Philosophy', root_path(name: 'philosophy')%></li>
                  <li><%= link_to 'Politics', root_path(name: 'politics')%></li>
                  <li><%= link_to 'Culture', root_path(name: 'culture')%></li>
                  <li><%= link_to 'Sociology', root_path(name: 'sociology')%></li>          
                </div>
              </ul>
          </li> 
        </ul>
      </nav></center>
      
        <div id="buttons">
            <ul>
                 <li><%= link_to 'New Post' , new_post_path , class: 'new-post' %></li>
                      <% if user_signed_in? %>
                          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'new-post'  %></li>        
                      <% else %>
                          <li><%= link_to 'Login', new_user_session_path, class: 'new-post'  %> </li>
                      <% end %>
            </ul>
        </div>             
    </div>


	
      <%= yield %>
      
      
    <div id="footer"> 
      <a href="footer/copyrightpolicy.html" id="copyright"> Copyright Policy </a>       
    </div>

  </div>



<!-- - - - - - - - -  - - - - - - - - - - - - - - java - - - - - - - - - - - - - - - - - - - - - - - - -->    
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

<script>
 $(".overlay").click(function(){
  $(".overlay").hide();
  $(".video")[0].src += "&autoplay=1";
  $(this).unbind("click");//or some other way to make sure that this only happens once
 });
</script>

</body>
</html>



