<!DOCTYPE html>
<html>
<head>
  <title>The Eternal Archive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<meta name="description=" content="A library of inspiring, engaging and informative media, bringing together the very best of the freely available sources of education from all corners of the web (Mostly YouTube.)
                        TEA is a nearly endless supply of enlightening content. We believe there is no limit to the ability of online media to inspire, educate and make people Healthier Wealthier and Wiser.">
    
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>




  <!--<script src="http://use.typekit.net/koq1kyb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>-->

</head>  
  
<body>

    
  <div class="wrapper">
  <div class="dimmer" data-sidebar-dimmer></div>

  <div class="cover-photo">
            <img src="https://images.unsplash.com/photo-1428278953961-a8bc45e05f72?q=80&amp;fm=jpg&amp;s=24f29a71c4de9b922e7ee2cb5ee46f4b" alt="Cover 1"/>
  </div>

    <div class="header" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
        
          <div class="logo"><%= link_to 'TEA.', root_path %></div>
                  
     <nav class="main-header">
        <ul>
          <li>
            <section class="healthy-header"><%= link_to 'Healthy', root_path(name: @category_healthy_name)%></section>
              <ul class="healthy-scroll">            
                  <% if Category.parent.present?%>
                    <% @category_healthy.each do |category|%>
                    <li><%= link_to category.name, root_path(name: category.name)%></li>
                    <%end%>
                  <%else%>
                  <%end%>
              </ul>
          </li>
          <li>
            <section class="wealthy-header"><%= link_to 'Wealthy', root_path(name: @category_wealthy_name)%></section>
              <ul class="wealthy-scroll">
                  <% if Category.parent.present?%>
                    <% @category_wealthy.each do |category|%>
                    <li><%= link_to category.name, root_path(name: category.name)%></li>
                    <%end%>
                  <%else%>
                  <%end%>
              </ul>
          </li>
          <li>
            <section class="wise-header"><%= link_to 'Wise', root_path(name: @category_wise_name)%></section>
              <ul class="wise-scroll">
                  <% if Category.parent.present?%>
                    <% @category_wise.each do |category|%>
                    <li><%= link_to category.name, root_path(name: category.name)%></li>
                    <%end%>
                  <%else%>
                  <%end%>        
              </ul>
          </li> 
        </ul>
      </nav>
    </div>

      <div class="header-icon-container">
          
          <div class="extra-button" data-sidebar-button>
            <i class="fa fa-bars"></i>
          </div>

          <div class="search-container">
            <i class="fa fa-search search-icon"></i>
          </div>

      </div>

    <div class="sidebar" data-sidebar>

        <div class="sidebar-buttons">
            <ul>
                 <% if current_user.try(:admin?) %>
                      <li><%= link_to 'New Post' , new_post_path , class: 'new-post' %></li>
                      <li><%= link_to 'New Category' , new_category_path , class: 'new-post' %></li>
                  <%end%>
                  <% if user_signed_in? %>
                      <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'new-post'  %></li>        
                  <% else %>
                      <li><%= link_to 'Login', new_user_session_path, class: 'new-post'  %> </li>
                  <% end %>
            </ul>
        </div>  
  
      </div>


    <div id="button">Random</div>
    
	<div class="content">
      <%= yield %>
      </div>

      <div class="breaker">
      </div>
  
  

    <div class="footer"> 
      <a href="footer/copyrightpolicy.html" class="copyright"> Copyright Policy </a>       
    </div>


  
  </div>



<!-- - - - - - - - -  - - - - - - - - - - - - - - java - - - - - - - - - - - - - - - - - - - - - - - - -->    
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>


<script>
  function play(object){
    $(object.querySelector('.overlay')).hide(200);
    object.querySelector('iframe').src =
    object.querySelector('iframe').src.replace('autoplay=0','&autoplay=1');
    return false;
  }
</script>



 <script>
     $(window).on('scroll', function () {
        var scrollTop = $(window).scrollTop();
        var timedure = 400
        if (scrollTop > 250) {
           $('.header-icon-container').stop().animate({height: "50px"},timedure);
           $('.search-container').stop().animate({margin: "0px"},timedure);
           $('.extra-button').stop().animate({margin: "0px"},timedure);
           $('.sidebar').stop().animate({marginTop: "50px"},timedure);
           $('.header').stop().animate({height: "50px"},timedure);
           $('.logo a').stop().animate({padding: "18px"},timedure);
           $('.logo a').stop().animate({lineHeight: "50px"},timedure);
           $('.main-header').stop().animate({lineHeight: "50px"},timedure);
        }
        else {
           $('.header-icon-container').stop().animate({height: "100px"},timedure);
           $('.search-container').stop().animate({margin: "25px"},timedure);
           $('.extra-button').stop().animate({margin: "25px"},timedure);
           $('.sidebar').stop().animate({marginTop: "100px"},timedure);
           $('.header').stop().animate({height: "100px"},timedure);  
           $('.logo a').stop().animate({padding: "30px"},timedure);
           $('.logo a').stop().animate({lineHeight: "100px"},timedure);
           $('.main-header').stop().animate({lineHeight: "100px"},timedure);
        }
     });
<<<<<<< HEAD
//      </script>
=======
</script>

<script>
  $(document).ready(function() {
    $("#button").click(function() {
>>>>>>> post_info

        var parent = $(".contentBox");
        var divs = parent.children();
        while (divs.length) {
            parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
        }
    })
  });
</script>

</body>
</html>
