<!DOCTYPE html>
<html>
<head>
  <title>The Eternal Archive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<meta name="description=" content="A library of inspiring, engaging and informative media, bringing together the very best of the freely available sources of education from all corners of the web (Mostly YouTube.)
                        TEA is a nearly endless supply of enlightening content. We believe there is no limit to the ability of online media to inspire, educate and make people Healthier Wealthier and Wiser.">
    
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,100,900,700italic,400italic,300italic,300,500' rel='stylesheet' type='text/css'>


  <!--<script src="http://use.typekit.net/koq1kyb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>-->

</head>  
  
<body>

    
  <div class="wrapper">
  
  <div class="cover-photo">
                <img src="https://ununsplash.imgix.net/33/hBd6EPoQT2C8VQYv65ys_White%20Sands.jpg?q=75&amp;fm=jpg&amp;s=440edea0dacbf61ee20f8ff106573fb3" alt="Cover 1"/>
  </div>

    <div class="header">
        
          <h3><%= link_to 'TEA.', root_path %></h3>
                  
     <nav class="main-header">
        <ul>
          <li>
            <section class="healthy-header"><%= link_to 'Healthy', root_path(name: @category_healthy_name)%></section>
              <ul>            
                <div id="scrollbar1" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
                  <% if Category.parent.present?%>
                    <% @category_healthy.each do |category|%>
                    <li><%= link_to category.name, root_path(name: category.name)%></li>
                    <%end%>
                  <%else%>
                  <%end%>
                </div>
              </ul>
          </li>
          <li>
            <section class="wealthy-header"><%= link_to 'Wealthy', root_path(name: @category_wealthy_name)%></section>
              <ul>
                <div id="scrollbar2" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
                  <% if Category.parent.present?%>
                    <% @category_wealthy.each do |category|%>
                    <li><%= link_to category.name, root_path(name: category.name)%></li>
                    <%end%>
                  <%else%>
                  <%end%>
                </div>  
              </ul>
          </li>
          <li>
            <section class="wise-header"><%= link_to 'Wise', root_path(name: @category_wise_name)%></section>
              <ul>
                <div class="scrollbar3" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
                  <% if Category.parent.present?%>
                    <% @category_wise.each do |category|%>
                    <li><%= link_to category.name, root_path(name: category.name)%></li>
                    <%end%>
                  <%else%>
                  <%end%>        
                </div>
              </ul>
          </li> 
        </ul>
      </nav>
      
        <div class="buttons">
            <ul>
                 <% if current_user.try(:admin?) %>
                      <li><%= link_to 'New Post' , new_post_path , class: 'new-post' %></li>
                      <li><%= link_to 'New Category' , new_category_path , class: 'new-post' %></li>
                  <%end%>
                  <% if user_signed_in? %>
                      <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'new-post'  %></li>        
                  <% else %>
                      <li><%= link_to 'Login', new_user_session_path, class: 'new-post'  %> </li>
                  <% end %>
            </ul>
        </div>             
    </div>


	
      <%= yield %>
      
      
    <div class="footer"> 
      <a href="footer/copyrightpolicy.html" class="copyright"> Copyright Policy </a>       
    </div>

  </div>



<!-- - - - - - - - -  - - - - - - - - - - - - - - java - - - - - - - - - - - - - - - - - - - - - - - - -->    
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

<script>
  function play(object){
    $(object.querySelector('.overlay')).hide(400);
    object.querySelector('iframe').src =
    object.querySelector('iframe').src.replace('autoplay=0','&autoplay=1');

    return false;
  }
</script>


</body>
</html>
