<!DOCTYPE html>
<html>
<head>
  <title>The Eternal Archive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
  <meta name="description=" content="A library of inspiring, engaging and informative media, bringing together the very best of the freely available sources of education from all corners of the web (Mostly YouTube.)
                        TEA is a nearly endless supply of enlightening content. We believe there is no limit knowledge.">
    
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>  
  
<body>

  <div class="wrapper">
  <div class="dimmer area" data-sidebar-dimmer></div>


    <% if current_page?("/about") || current_page?("/contact_us") || current_page?("/help") || current_page?("/copyright") %>
      <%= render 'static_header' %>
      <%= render 'static_cover' %>
      <% else %>
          <%= render 'header' %>
          <% if params[:name].present? || current_page?("/top_videos") || current_page?("/latest") || current_page?('/profile') %>
                <%= render 'short_cover' %>
          <% else %>
                <%= render 'cover' %>
          <% end  %>
    <% end %>

    <%= render 'sidebar' %>

      
	<div class="content group">
          <%= yield %>
      </div>

  </div>

</body>
</html>