<!DOCTYPE html>
<html>
<head>
  <title>The Eternal Archive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<meta name="description=" content="A library of inspiring, engaging and informative media, bringing together the very best of the freely available sources of education from all corners of the web (Mostly YouTube.)
                        TEA is a nearly endless supply of enlightening content. We believe there is no limit to the ability of online media to inspire, educate and make people Healthier Wealthier and Wiser.">
    
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>

</head>  
  
<body>

    
  <div class="wrapper">
  <div class="dimmer" data-sidebar-dimmer></div>

  <div class="cover-photo">
            <div class="img-cover">
            </div>
            <img src="https://unsplash.imgix.net/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?q=75&amp;fm=jpg&amp;s=d8cce13e5d977aeec5bdbec256987adf" alt="Cover 10">
              <!-- <iframe frameborder="0" allowfullscreen="" src="whttp://www.youtube.com/embed/S3fTw_D3l10?rel=0&amp;modestbranding=1&amp;loop=1&amp;autohide=1&amp;showinfo=0&amp;controls=1&amp;autoplay=1"></iframe> -->
            
  </div>

    <div class="header" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
    
      <div class="logo"><%= link_to 'TEA.', root_path %></div>
      <div class="search-button">
            <i class="fa fa-search search-icon"></i>
            <input type="text" class="search-input" placeholder="Search"></input>
      </div>
      
      <div class="tag-container center">
          <div class="tag-wrap">
                <h3 class="tag-title">Tags</h3>
                <i class="fa fa-tags tags-button"></i>
          </div>
          <div class="category-tags center">  
              <nav >
                <ul>  
                      <li> <%= nav_link_to 'All', root_path, class: 'category-links'  %></li>
                      <% Category.all.each do |category|%>
                          <li><%= nav_link_to category.name, root_path(name: category.name), class: 'category-links' %></li>
                        <%end%>

                </ul>
              </nav>
          </div>
      </div>

      <div class="extra-button" data-sidebar-button>
            <i class="fa fa-bars extra-icon"></i>
      </div>

      <div class="login-button">
        <% if user_signed_in? %>
                 <%= link_to  "#{current_user.username}", profile_path ,  class: 'current-user' %>
                 <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'user-logout'  %> 
          <%else%>
            <%= link_to new_user_session_path,  class: 'user-login' do %>
                  <i class="fa fa-user user-icon"></i>
                  <% end %>
          <% end %>
      </div>  

    </div>


    <div class="sidebar" data-sidebar>

        <div class="sidebar-buttons">
            <ul>
                 <% if current_user.try(:admin?) %>
                      <li><%= link_to 'New Post' , new_post_path , class: 'new-post' %></li>
                      <li><%= link_to 'New Category' , new_category_path , class: 'new-post' %></li>
                  <%end%>            
            </ul>
            <ul>
                  <div class="static-links">
                    <li><div class="static-pages"><%= nav_link_to 'About', static_pages_about_path %></div></li>
                    <li><div class="static-pages"><%= nav_link_to 'Help', static_pages_help_path %></div></li>
                    <li><div class="static-pages"><%= nav_link_to 'Contact Us', static_pages_contact_us_path %></div></li>
                    <li><div class="static-pages"><%= nav_link_to 'Copyright', static_pages_copyright_path %></div> </li>
                  </div>
            </ul>
        </div>  
  
      </div>

    <div class="hero-phrase center"><%= @category_title %></div>
    
    <div class="hero-buttons center">
      <div class="mostrecent-button" onclick="window.location.reload(true)">Latest Videos</div>
      <%= link_to 'Randomize' , randomize_posts_path , id: 'random-button' %>
    </div>
    
      <div class="start-watching center">Start watching now</div>
      <div class="scroll-to-content">
        <i class="fa fa-angle-double-down scroll-arrow"></i>
      </div>

      <div class="breaker"></div>
      
	<div class="content">
      <%= yield %>
      </div>

  </div>



<!-- - - - - - - - -  - - - - - - - - - - - - - - java - - - - - - - - - - - - - - - - - - - - - - - - -->    
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="assets/jquery.easing.1.3.js"></script>


<script>
  function play(object){
    $(object.querySelector('.overlay')).hide(200);
    object.querySelector('iframe').src =
    object.querySelector('iframe').src.replace('autoplay=0','&autoplay=1');
    return false;
  }
</script>

<script >
  $(".scroll-to-content").click(function() {
    $('html,body').animate({
        scrollTop: $(".breaker").offset().top},
        1000,'easeOutBounce')
});
</script>

<script>
  $(document).ready(function() {
    $(".tag-wrap").click(function(e) {
        $(".category-tags").toggle();
        e.stopPropagation();
    });

    $(document).click(function(e) {
        if (!$(e.target).is('.category-tags, .category-tags*')) {
            $(".category-tags").hide();
        }
    });
});
</script>


</body>
</html>