<!DOCTYPE html>
<html>
<head>
  <title>The Eternal Archive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
  <meta name="description=" content="A library of inspiring, engaging and informative media, bringing together the very best of the freely available sources of education from all corners of the web (Mostly YouTube.)
                        TEA is a nearly endless supply of enlightening content. We believe there is no limit knowledge.">
    
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69480511-1', 'auto');
  ga('send', 'pageview');

</script>

</head>  
  
<body>

  <div class="dimmer area" data-sidebar-dimmer></div>


      <% if current_page?("/about") || current_page?("/copyright") %>
          <%= render 'static_header' %>
          <%= render 'other_cover' %>
      <% else %>
          <%= render 'header' %>

          <% if flash.any? %>
              <div class="content-wrap">
                  <%= render 'shared/flash_messages' %>
              </div>
          <% end %>

          <% if params[:name].present? || current_page?("/most_liked") || current_page?("/latest") || current_page?('/profile') %>
                <%= render 'short_cover' %>
          <% elsif current_page?("/") || current_page?("/posts") %>
                <%= render 'home_cover' %>
          <% else %>
                <%= render 'other_cover' %>
          <% end  %>
          
    <% end %>

    <%= render 'sidebar' %>

      
	<div class="content group wrapper">
          <%= yield %>
      </div>


</body>
</html>